
div.rabRow {
        width:100%;
        margin-right:0%;
        margin-left:0%;
        font-size:95%;
        border-bottom:1px solid #7f7f7f;
        float:left;
}
div.nameC {
   position: relative;
   align:middle;
   width:24%;
   font-weight:bold;
   float:left;
}


div.nameC a {
   text-decoration:none;
   display:block;
   width:100%;
   text-overflow:clip;
   color:#000000;
}


div.sexC {
  width:5%;
  text-align:center;
  background:#fFfeff;
  float:left;
}

div.row1, div.row2 {
  width:100%;
  border-bottom:1px solid #eeeeee;
  float:left;
}

.dateInC {
   background:#fFfeff;
   width:24%;
   float:left;
}
div.descC {
   width:45%;
   border-bottom:none;
   float:left;
}

#atitleD {
  text-align:center;
  margin:10px;
  padding:10px;
  border-bottom:thin solid #000000;
}

#ageIn {
  width:29%;
  border-bottom:none;
   float:left;
}

#sourceType {
  width:20%;
   background:#fFfeff;
}

div.sourceC {
   width:100%;
}
div.statusC {
  width:12%;
  text-align:center;
   float:right;
   padding-right:2px;
   padding-left:2px;
}
div.alteredC {
  width:20%;
  text-align:left;
  float:left;
}

#divAlteredD {
   width:25%;
}

.wellRw {
   width:100%;
   border-bottom:1px dotted #999999;
}
   
#swellTitle {
   width:100%;
   border-bottom:thin solid #7f7f7f;
   float:left;
}

#showWell {
  float:left;
  width:100%;
 
}

#showWell div {
  float:left;
  margin:2px;
}

#swellR div {
      float:left;
}

#swellR > div {
    margin-bottom:0;
    margin-top:0;
}



#swellR {
      border-bottom:thin solid #7f7f7f;
      width:100%;
}

#swellDateD {
  width:30%;
}

#swellGroomedD {
          width:20%;
}

#swellTempD {
  width:17%;
}
#swellnessWeight {
          width:35%;
}

#swellPerson {
  width:20%;
  text-align:right;
  float:right;
}

#swellnessNoteD, #swellTreatD {
   width:100%;
}


#showvv div {
   float:left;
   margin:2px;
}

#showvv #svvDateD {
 float:right;
 text-align:right;
}

#showvv #svvCost {
  float:right;
  text-align:right;
}

#svvRName {
  width:30%;
}
#showVVTitle {
   width:100%;
   float:left;
   border-bottom:thin solid #8f8f8f;
}

#svvR {
  border-bottom:thin solid #7f7f7f;
  width:100%;
}

.vvR {
  width:100%;
  border-bottom:1px dotted #999999;
}

#showvv { 
   width:100%;
   border-bottom:thin solid #7f7f7f;
   float:left;
   display:block;
   margin-top: 5px;
}

#svvVet{
    width:23%
}

 #svvSpay {
    width:28%;
}
#svvProblem, #svvProcedure, #svvNotes {
   width:95%;
}

#showTitleAd {
   float:left;
   width:100%;
   border-bottom:thin solid #8f8f8f;
}

.sadRw {
  width:100%;
  border-bottom:1px dotted #999999;
}

#showAdopted div {
   float:left;
   margin:2px;
}

#showAdopted {
   float:left;
   border-bottom:thin solid #7f7f7f;
   width:100%;
   margin-top:5px;
}

#sadRow {
   width:100%;
   border-bottom:thin solid: #8f8f8f;
}

#showAdopted #sadDate {
 width:25%;
 text-align:right;
 float:right;
}

#showAdopted #saPhone {
  text-align:right;
  float:right;
}
#saName {
  width:80%;
}
